[submodule "nvim/plugins/oil.nvim"]
	path = nvim/plugins/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "nvim/plugins/gruvbox.nvim"]
	path = nvim/plugins/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
[submodule "nvim/plugins/nvim-treesitter"]
	path = nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/plugins/vscode.nvim"]
	path = nvim/plugins/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim
