* {
  border: none;
  font-family:
    Hack Nerd Font,
    normal;
  font-weight: bold;
  font-size: 15px;
  border-radius: 16px;
}

#window {
  margin: 0 15px 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
  border-radius: 0;
}

#workspaces {
  margin: 2px;
  padding: 0px 5px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
  background-color: #313244;
}

#workspaces button {
  padding: 0 5px;
  color: #f34f09;
}

#workspaces button.active {
  color: #ffffff;
  background-color: transparent;
}

#custom-date,
#pulseaudio {
  margin: 2px;
}

#workspaces {
  margin-left: 4px;
  padding: 0 0 0 5px;
}

#clock,
#pulseaudio {
  color: #ffffff;
  margin: 2px;
}
