headerbar {
  min-height: 28px;
  padding: 0px;
  margin: 0px;
  border: none;
  box-shadow: none;
}

headerbar entry,
headerbar button,
headerbar separator {
  margin: 0px;
  padding: 0px;
  min-height: 20px;
}

headerbar button image {
  margin: 0px;
  padding: 0px;
}

tabbar tabbox {
  min-height: 24px;
  padding: 0px;
  margin: 0px;
  margin-top: 6px;
}

tabbox tab {
  min-height: 24px;
  padding: 1px 6px 1px;
  margin: 0px;
}

tabbox tab label {
  padding: 0px;
  margin: 0px;
}
